body {
  background-color: rgb(191, 191, 191);
}

* {
  box-sizing: border-box;
}

.cite {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px blue solid;
}

#calculator {
  border: 1px solid orange;
  min-width: 400px;
  width: 50%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.877);
  border-radius: 10px;
}

#screen {
  display: flex;
  border: 2px pink solid;
  overflow: hidden;
}

.inputfield {
  flex: 1;
  margin: 5px;
  height: 40px;
  width: inherit;
  background-color: rgb(137, 144, 144);
  color: greenyellow;
}

#buttons {
  margin: 8px;
  display: flex;
  flex: 1, 2;
}

.numBtn {
  width: 80px;
  height: 38px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  border-color: inherit;
  margin: 2px;
  font-weight: bold;
}

.opBtn,
.conBtn {
  width: 40px;
  height: 40px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 2px;
}
