body {
  background-color: rgb(191, 191, 191);
}

* {
  box-sizing: border-box;
}

.application {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px blue solid;
}

#calculator-container {
  width: 250px;
  height: 385px;
  background-color: rgba(0, 0, 0, 0.877);
  border-radius: 10px;
  margin: 20% auto;
}

#screen-container {
  display: flex;
}

.column {
  margin-top: 12px;
  box-sizing: border-box;
}

output {
  display: block;
  flex: 1;
  padding: 12px;
  height: 45px;
  width: 220px;
  margin-left: 14px;
  margin-top: 8px;
  background-color: rgb(137, 144, 144);
  color: greenyellow;
  text-align: right;
  font-size: 25px;
}
input {
  margin-left: 12px;
  display: block;
  flex: 1;
  padding: 12px;
  height: 45px;
  width: 222px;
  background-color: rgb(137, 144, 144);
  color: greenyellow;
  text-align: right;
  font-size: 25px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#buttons {
  margin: 10px;
  display: flex;
  flex: 1, 2;
}

#column-btns {
  display: block;
  padding-left: 4px;
}

.numBtn {
  width: 80px;
  height: 38px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  border-color: inherit;
  margin: 2px;
  font-weight: bold;
}

.opBtn {
  width: 40px;
  height: 38px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 2px;
}

.conBtn {
  width: 80px;
  height: 38px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 2px;
}
